<!DOCTYPE html>
<html lang="en">
<head>
    <% var rootPath = '../../' %> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nooru | Inicio</title>
    <link rel="stylesheet" href="/css/index/index.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <%- include(rootPath + 'html/components/nav-bar.ejs') %> 
    <%- include(rootPath + 'css/components/nav-bar.ejs') %> 
    <%- include(rootPath + 'html/components/footer.ejs') %> 
    <%- include(rootPath + 'css/components/footer.ejs') %> 
    <%- include(rootPath + 'css/components/pub_normal.ejs') %>

    <div class="posts-container">
        <% for (let i = 0; i < 25; i++) { %>
            <%- include(rootPath + 'html/components/publicacion_normal.ejs') %>
        <% } %> 
    </div>
</body>
</html>